# compiled output
/dist
/tmp
/out-tsc

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.gradle
build/*
out/*

# We don't want to push configuration secrets.
/src/main/resources/config/application.properties
